<launch>

    <node pkg="point_cloud_aligner" type="point_cloud_aligner_exe" name="point_cloud_aligner" output="screen"></node>
    <node pkg="point_cloud_aligner" type="keyboard_publisher_exe" name="keyboard_publisher" output="screen"></node>


    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find point_cloud_aligner)/rviz/config.rviz" />

    <!-- Params for pcd extraction mode: 0  -->
    <param name="mode"  value="1"/>
    <param name="topic_name_target"  value="/middle/velodyne_points"/>
    <param name="topic_name_source"  value="/right/velodyne_points"/>
    <param name="path_pcd_folder"
           value="/home/goktug/projects/point_cloud_aligner_ws/src/point_cloud_aligner/pcd_files/deneme"/>


    <!-- Params for calibration mode: 1  -->
    <rosparam param="path_pcd_target_list">
        [
        "/home/goktug/projects/lidar_lidar_calibration_tool_new/src/lidar_lidar_calibration_tool/pcd_files/otokar/01_to_05/t1/0_target_cloud.pcd"
        ]
    </rosparam>

    <rosparam param="path_pcd_source_list">
        [
        "/home/goktug/projects/lidar_lidar_calibration_tool_new/src/lidar_lidar_calibration_tool/pcd_files/otokar/01_to_05/t1/0_source_cloud.pcd"
        ]
    </rosparam>

    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>


</launch>
